<mat-card>
  <mat-card-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nome do Produto</mat-label>
      <input matInput name="nomeProd">
    </mat-form-field>
  </form>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Descrição do Produto</mat-label>
      <textarea matInput name="descProd"></textarea>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button>CANCELAR</button>
  <button mat-raised-button>CADASTRAR</button>
</mat-card-actions>
</mat-card>
