
<mat-card class="card-compra">
<h2>Valor total: R$ {{valorTotal}}</h2>
<mat-card-content>
  <P style="text-align: justify;">
    Ao clicar em "SOLICITAR COMPRA", precisaremos que nos informe
    seu nome, E-Mail, telefone para contato e/ou WhatsAPP, para
    que possamos entrar em contato e confirma sua compra.
  </P>
</mat-card-content>
<mat-card-actions style="text-align: center;">
  <button mat-button class="button-termina-compra"
          (click)="openConfirmaDadosDialog()"
          style="margin-top: 110PX;">
    SOLICITAR COMPRA
  </button>
</mat-card-actions>
</mat-card>

<mat-form-field appearance="standard">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Produto" #input>
</mat-form-field>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8"
       matSort (matSortChange)="announceSortChange($event)">

  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <div class="example-element-description">
          {{element.descProd}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Não encontramos itens com: "{{input.value}}"</td>
    </tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons
aria-label="Select page of periodic elements">
</mat-paginator>
