<mat-grid-list cols="1" rowHeight="120">
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-visualizar-produto></app-visualizar-produto>
  </mat-grid-tile>
</mat-grid-list>
